.modal-container {
    color: black;
    background: rgba(255, 255, 255, 0.91);
    /* background-color: white; */
    min-width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    display: none;
    z-index: 500;
}

.modal-container-open {
    display: flex;
}


.modal-heading {
    font-size: 22px;
    font-weight: 600;
}

.modal-inps {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal-separator {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-separator .sep {
    width: 40%;
    height: 1px;
    background-color: black;
}

.modal-inp {
    margin: 10px 0 !important;
}

.modal-ops p {
    font-size: 12px;
    cursor: pointer;
    transition: all 250ms;
    position: relative;

}

.modal-ops p::after {
    content: "";
    position: absolute;
    bottom: -3px;
    background-color: #1976D2;
    width: 100%;
    height: 1px;
    left: 0;
    transform: scale(0);
    transition: all 250ms;
}

.modal-ops p:hover {
    color: #1976D2;

}

.modal-ops p:hover::after {
    transform: scale(1);
}

.modal-container button {
    padding: 10px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}

.modal-container button:active {
    box-shadow: unset !important;
}

.modal-container button img {
    width: 20px;
    margin-right: 5px;
}

.modal-closer {
    display: flex;
    justify-content: flex-end;
}

.modal-closer button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

#signInContainer {
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
}