@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  --blue-gradient: linear-gradient(157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%);
}



* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App-Dock {
  overflow-x: hidden;
}

.text-gradient {
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%);
}

.bg-black-gradient {
  background: linear-gradient(144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
}

.bg-black-gradient-2 {
  background: linear-gradient(-168.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
}

.bg-gray-gradient {
  background: linear-gradient(153.47deg,
      rgba(255, 255, 255, 0) -341.94%,
      #14101d 95.11%);
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  position: absolute;
  left: -10px;
  top: 10px;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: 10;
  background: linear-gradient(144.39deg,
      rgb(255 255 255 /20%) -278.56%,
      rgb(109 109 109 /20%) -78.47%,
      rgb(17 16 29 /90%) 91.61%);
  backdrop-filter: blur(7px);
  height: 100%;
  width: 97.5%;
  align-items: center;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.sidebar li {
  font-size: 22px;
}

.sidebar li:not(:last-child) {
  margin-bottom: 80px;
}

.home-input {
  padding: 10px 20px;
  height: 45px;
  font-size: 20px;
  flex: 0.7;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  border: 1px solid white;
}

.home-create-btn {
  background: var(--blue-gradient);
}

@media only screen and (max-width:400px) {
  .home-input {
    flex: unset;
    width: 60%;
    font-size: 18px;
    padding: 5px 10px;
  }

  .home-create-btn {
    flex: unset;
  }
}

.menu-options-item {
  padding: 0px 30px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 500;
}

.menu-options-item:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.menu-options-item:last-child {}





@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(50px);
    opacity: 0%;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(50px);
    opacity: 0%;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 100%;
  }
}

.feature-card:nth-child(2) {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card-1 {
  background: var(--black-gradient);

}

.feedback-card:hover {
  background: var(--black-gradient);
}


.btn-blue-gradient {
  background: linear-gradient(157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.sidebar-nav {
  opacity: 0;
  position: fixed;
  z-index: 10;
  top: 50%;
  right: -8%;
  transform: translateY(-50%);
  overflow: hidden;
  /* background-color: rgba(255, 255, 255, 0.1); */
  background: linear-gradient(144.39deg,
      rgb(255 255 255 /50%) -278.56%,
      rgb(109 109 109 /50%) -78.47%,
      rgb(17 16 29 /90%) 91.61%);
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: all 350ms;
}

.sidebar-nav-appear {
  opacity: 1;
  right: 0;
  /* transform-origin: 100% 50%; */
  width: fit-content;
}

.sidebar-nav img {
  cursor: pointer;
  width: 28px;
  padding: 5px;
  overflow: visible;
  border-radius: 3px;
}

.sidebar-nav img:hover {
  /* background-color: rgba(255 255 255/10%); */
}



/* Meeting Section */

.meeting-dock {
  height: 100vh;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.8);
  font-family: poppins;
  padding: 5px;
}

.meet-top {
  position: relative;
  margin-bottom: 30px;
}

.meet-top::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);

}

.meet-control-icon {
  display: flex;
  background-color: #2E3137;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-right: 10px;
  cursor: pointer;
  object-fit: contain;
}

.meet-control-icon-off {
  background-color: rgb(217, 84, 58) !important;

}

.meet-end-btn {
  background-color: rgb(217, 84, 58);
}

.meet-end-btn img {
  background-color: rgb(217, 84, 58);
}

@media only screen and (max-width:480px) {

  .meet-control-icon {
    padding: 5px 10px;
  }

  .meet-control-icon img {
    width: 30px;
    height: 30px;
  }

}

.meet-sidebar {
  box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.15);
  border: 1px solid black;
}

::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

/* login & signup */

.auth-container {
  background: rgba(255, 255, 255, 0.025);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.pink__gradient_2 {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient_2 {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.blue__gradient_2 {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(200px);
}

.poll-option-prompt {
  color: rgba(0, 0, 0, 0.75);
  margin-left: 10px;
  font-size: 18px;
}

.radio-button-outer-container {
  position: relative;
}

.radio-button-outer-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 0%;
  background: #15d1c12a;
  border-radius: 5px;
  transition: all 300ms;
}

.radio-button-container {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 40px;
  line-height: 25px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-button-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  height: 18px;
  width: 18px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}

/* On mouse-over, add a grey background color */
.radio-button-container:hover input~.checkmark {
  border-color: rgba(0, 0, 0, 0.5);
}

/* When the radio button is checked */
.radio-button-container input:checked~.checkmark {
  background-color: #00000000;
  border-color: #15d1c1;
}


/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-button-container input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-button-container .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background: #15d1c1;
}